  <div class="container buffer">
    <div class="col-xs-12">
      <h3>Bouncer</h3>
    </div>
    <br>

    <div class="col-sm-4">
      N-Body collision simulation written in Python using a priority queue to schedule collisions.
      <br>
      <br>
      <ul>
        <li>Event Driven Simulation</li>
        <li>Events are stored on a Priority Queue prioritized by time</li>
        <li>Collision prediction is done during setup for all particles</li>
        <li>After each event, collision prediction is done for particles involved</li>
        <li>An event loop increases time, draws the screen and calculate highest priority events</li>
      </ul>
        
      <br>
      <ul class="horizontal-list icons-with-text equally-spaced">
        <li>
          <i class="icon-github icon-2x"></i>
          <a href="https://github.com/jeffkile/Bouncer">
              View the Code on Github
        </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 text-center">
      <div class="video-container">
        <iframe width="480" height="360" src="//www.youtube.com/embed/Gkf3Zgbh-wc" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <br>

    </div>
</div>
