<div class="container buffer">
  <div class="col-xs-12">
    <h3>Brilliant.org</h3>
  </div>
</div>

<br>

  <!-- Wrapper for slides -->
<div id="letsEatCarousel" class="carousel slide" data-ride="carousel" data-interval="">

  <div class="container buffer">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="col-sm-8">
              <div class="row pad-top-small">
                  <div class="col-sm-6">
                    <a href="https://www.brilliant.org">
                        <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/logo.png" class="img-thumbnail center"/>
                    </a>
                  </div>
                  <div class="col-sm-6">
                    <ul>
                        <li>Full stack developer</li>
                        <li>Over 1 million registered users</li>
                        <li>Social+Capital backed startup</li>
                        <li>5th Engineering hire</li>
                    </ul>
                  </div>
              </div>
              <div class="row pad-top-big">
                  <ul class="equally-spaced">
                      <li><a href="http://www.npr.org/blogs/alltechconsidered/2013/07/23/203677692/giving-brightest-kids-the-cram-school-experience-online">
                          <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/npr.png" class="npr"/>
                       </a></li>
                       <li><a href="http://techcrunch.com/2013/08/11/backed-by-social-captial-brilliant-org-is-finding-and-challenging-the-brightest-technical-talent-in-the-world/">
                          <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/tech_crunch.png" class="tech_crunch"/>
                       </a></li>
                       <li><a href="http://www.businessinsider.com/the-10-smartest-kids-in-the-world-2013-4">
                          <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/business_insider.png" class="business_insider"/>
                       </a></li>
                  </ul>
              </div>
            </br>
            <br>
          </div>
          <div class="col-sm-4">
                <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/feed.png" class="img-thumbnail pad-bottom-small"/>
            <br/>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
            <div class="col-sm-4">
                <br/>
                <img src="https://s3.amazonaws.com/JKPortfolio/img/brilliant/triangle.png" class="img-thumbnail pad-bottom-small"/>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Brilliant is a massive community of math and science problem solvers.</p>
                        <p>Key Achievements:</p>
                        <ul>
                            <li>Led a charge that decreased average page load times by 40%.</li>
                            <li>Implemented Require.js on a 3 year old codebase that relied heavily on global scope.</li>
                            <li>Helped the product grow from under 200k users to over 1 million.</li>
                            <li>Doubled the amount of items shared on social media and created sharing framework.</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <p>Technologies Used:</p>
                        <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>Javascript</li>
                        <li>JQuery</li>
                        <li>Require.js</li>
                        <li>LESS</li>
                        <li>Git</li>
                        </ul>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <p>Features I worked on:</p>
                    <div class="col-sm-6">
                        <ul>
                            <li>User submitted problems</li>
                            <li>Newsfeed</li>
                            <li>Following</li>
                            <li>Resharing</li>
                            <li>User submitted solutions and comments</li>
                            <li>Wiki articles and practice problems</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Online Calculator</li>
                            <li>Partial page loading framework</li>
                            <li>User profiles and moderation</li>
                            <li>Sharing on social media</li>
                            <li>Latex processing</li>
                            <li>Building and deploying</li>
                        </ul>
                    </div>
                </div>
              </div>
          </div>
      </div>
    </div> <!-- Carosel inner -->
  </div> <!-- Container -->

  <!-- Controls -->
  <a class="left pull-left carousel-control" href="#letsEatCarousel" data-slide="prev">
    <span class="icon-4x icon-angle-left vCenterIcon"></span>
  </a>
  <a class="right pull-right carousel-control" href="#letsEatCarousel" data-slide="next">
    <span class="icon-4x icon-angle-right vCenterIcon"></span>
  </a>

</div>
