  <div class="container buffer">
    <div class="col-xs-12">
      <h3>Melodiy</h3>
    </div>
  </div>
  <br>

  <div id="melodiyCarousel" class="carousel slide" data-ride="carousel" data-interval="">

    <div class="container buffer">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <div class="container">
            <div class="col-sm-6">
                <img src="https://s3.amazonaws.com/JKPortfolio/img/melodiy/homepage.jpg" class="img-thumbnail">
                </br>
                </br>
            </div>
            <div class="col-sm-6">
              <ul class="noDots noLeftPad padList text-center">
                <li>
                <img src="https://s3.amazonaws.com/JKPortfolio/img/melodiy/logo.png" class="img-thumbnail">
                </li>
              </ul>
              <ul>
                <li><u>Venues:</u> Easily find bands and book live music in your town</li>
                <li><u>Artists:</u> Get more gigs and help build real life community</li>
                <li>Leverage existing social media and artist platforms</li>
              </ul>
              <br>
              <ul class="horizontal-list icons-with-text text-center equally-spaced">
                <li>
                  <i class="icon-globe icon-2x"></i>
                  <a href="http://www.melodiy.org">
                      Book live music | melodiy.org 
                  </a>
                </li>
              </ul>
              <br>
            </div>

          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="col-sm-3">
              <p>Melodiy is still under active development and has not yet been released to the public</p>
              </br>
              <p>Technologies being used Used</p>
              <ul>
                <li>Angular.js client side Javascript framework</li>
                <li>Node and Express server side Javascript framework</li>
                <li>PostgreSQL</li>
                <li>Bootstrap Responsive CSS</li>
                <li>Facebook, Foursquare, Last.fm APIs</li>
              </ul>
            </div>
            <div class="col-sm-9 text-center">
              <img src="https://s3.amazonaws.com/JKPortfolio/img/melodiy/registration.jpg" class="img-thumbnail">
              <br>
              <br>
            </div>
          </div>
        </div>

        </div>
      </div>

      <!-- Controls -->
      <a class="left pull-left carousel-control" href="#melodiyCarousel" data-slide="prev">
        <span class="icon-4x icon-angle-left vCenterIcon"></span>
      </a>
      <a class="right pull-right carousel-control" href="#melodiyCarousel" data-slide="next">
        <span class="icon-4x icon-angle-right vCenterIcon"></span>
      </a>

    </div>
  </div>
