<div class="container buffer">
  <div class="col-xs-12">
    <h3>Music Artificial Intelligence<h3>
  </div>
</div>

<br>

<div id="musicAICarousel" class="carousel slide" data-ride="carousel" data-interval="">

  <div class="container buffer">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="col-sm-6">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/127355454&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
          </div>
          <div class="col-sm-6">
            <p>Music creation software which uses artificial intelligence to compose music.</p>
            <br>
            <p>Features:</p>
            <ul>
              <li>Multiple cooperative independent agents</li>
              <li>Music composed in MIDI standards for portability and interesting I/O possibilities</li>
              <li>The algorithm attempts to emulate how Jazz musicians improvise or how birds flock in that no one agent has complete control yet collectively they determine how the music progresses</li>
            </ul>
            <br>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="col-sm-6">
            <p>History: This project initially began as a semester long project for my Advanced Projects in Artificial Intelligence course at UC Irvine.</p> 
            <br>
            <p>Future: Current work is being done on connecting the software to real world I/O such as synthesizers and drum machines. Initially to allow for better sounding sounds then the current software synths, but long term the goal is to allow user input to communicate and play in real time with the AI agents. Additionally, more advanced music theory, genres and visualizations are also planned.</p>
            <br>
          </div>
          <div class="col-sm-6">
            <p>Technology:</p>
            <ul>
              <li>Multi Threaded Java</li>
              <li>Java JSound</li>
              <li>MIDI</li>
            </ul>
            </br>
            <p>The source has been open sourced and contributions are welcome on Github</p>
            <ul class="horizontal-list icons-with-text equally-spaced">
              <li>
                <i class="icon-github icon-2x"></i>
                <a href="http://www.github.com/jeffkile/Music-AI">
                  Multi Agent Music AI | View the Code
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- Container -->

  <a class="left pull-left carousel-control" href="#musicAICarousel" data-slide="prev">
    <span class="icon-4x icon-angle-left vCenterIcon"></span>
  </a>
  <a class="right pull-right carousel-control" href="#musicAICarousel" data-slide="next">
    <span class="icon-4x icon-angle-right vCenterIcon"></span>
  </a>
</div>
