  <div class="container buffer">
    <div class="col-xs-12">
      <h3>Paramount Pictures Transaction Approval Process</h3>
    </div>

    <br>

    <div class="col-sm-4">
      <ul class="noDots padList text-center">
        <li>
        <img src="https://s3.amazonaws.com/JKPortfolio/img/paramount/logo.gif" style="padding:20px" class="img-thumbnail">
        </li>
        <li>
        <img src="https://s3.amazonaws.com/JKPortfolio/img/paramount/crm.jpg" class="img-thumbnail">
        </li>
      </ul>
    </div>
    <div class="col-sm-8">
      <p>While employed by XRM.com (Streamline Solutions) and working for Paramount Pictures, I built a transaction approval and inventory management system which tightly integrated with Microsoft Dynamics CRM.</p> 
      <br>
      <p>
      “Streamline Solutions went above and beyond the basic needs of our project!” - <a href="https://s3.amazonaws.com/JKPortfolio/pdf/Paramount_Case_Study.pdf">Case Study</a>.
      </p>
      <br>
      <ul>
        <li>Global approval system for purchases and return orders</li>
        <li>Secure and reliable auditing through automated email processing</li>
        <li>Tight integration with Microsoft CRM through Microsoft Outlook and a custom web application.</li>
        <li>API integration with back end SAP system</li>
        <li>Multi-threaded architecture provided 10x improvement over old system</li>
        <li>Worked directly with the client and led a team of 3 developers</li>
      </ul>

      <br>
    </div>
  </div>
