  <div class="container buffer">
    <div class="col-xs-12">
      <h3>Creative Programming for Digital Media & Mobile Apps<h3>
    </div>

    <br>

    <div class="col-sm-6 ">
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/CwJXgRKJ-gk" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <br>
    </div>

    <div class="col-sm-6">
      <p>A music visualization program written using Processing for an online Coursera class.</p>
      </br>
      <p>Music composed by myself, vocals by <a href="http://www.skippymac.com">Skippy Mac</a></p>
      <br>
      <p>Technology used:</p>
      <ul>
        <li>Java</li>
        <li>Processing</li>
        <li>Javascript</li>
      </ul>
      <br>
      <ul class="horizontal-list icons-with-text equally-spaced">
        <li>
          <i class="icon-github icon-2x"></i>
          <a href="https://github.com/jeffkile/visualizer">
            Processing Visualizer | View the code 
        </a>
        </li>
        <li>
          <i class="icon-star icon-2x"></i>
          <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?verify-code=AVTM7AGDZU">
              Completion Certificate | Coursera
          </a>
        </li>
      </ul>
    </div>
</div>
