  <div class="container buffer">
    <div class="col-xs-12">
      <h3>Startup Engineering<h3>
    </div>

    <br>

    <div class="col-sm-5">
      <img src="https://s3.amazonaws.com/JKPortfolio/img/startup/salamander.jpg" class="img-thumbnail"/>
      </br>
      </br>
      <p>Built the basis of a kickstarter type website, funded by bitcoins, for the Startup Engineering course offered on Coursera by Stanford.</p>
      </br>
    </div>
    <div class="col-sm-2">
      <br>
      <p>Technology used:</p>
      <ul>
        <li>Javascript</li>
        <li>Amazon Web Services EC2 Linux</li>
        <li>Coinbase Bitcoin API</li>
        <li>Express.js</li>
        <li>Angular.js</li>
        <li>VIM & Tmux</li>
        <li>Bootstrap Responsive Design</li>
      </ul>
      <br>
    </div>
    <div class="col-sm-5 ">
      <img src="https://s3.amazonaws.com/JKPortfolio/img/startup/certificate.jpg" class="img-thumbnail"/>
      </br>
      </br>
      <ul class="horizontal-list icons-with-text equally-spaced">
        <li>
          <i class="icon-star icon-2x"></i>
          <a href="https://www.coursera.org/maestro/api/certificate/get_certificate?course_id=970374">
            Certificate with Distinction (top 2% of class) | Coursera
        </a>
        </li>
      </ul>
    </div>
</div>
