<div class="container">
  <div class="col-xs-12">
    <h3>Let's Eat</h3>
  </div>
</div>
  <!-- Wrapper for slides -->
<div id="letsEatCarousel" class="carousel slide" data-ride="carousel" data-interval="">

  <div class="container">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          blah
        </div>
      </div>
      <div class="item">
        <div class="container">
        foo
        </div>
      </div>
    </div> <!-- Carosel inner -->
  </div> <!-- Container -->

  <!-- Controls -->
  <a class="left carousel-control" href="#letsEatCarousel" data-slide="prev">
    <span class="icon-4x icon-angle-left vCenterIcon"></span>
  </a>
  <a class="right carousel-control" href="#letsEatCarousel" data-slide="next">
    <span class="icon-4x icon-angle-right vCenterIcon"></span>
  </a>

</div>
