<meta charset="utf-8">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

<style>

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.smaller-img {
  width: 60%;
}

.height-400 {
  height: 400px;
}

.dots {
  font: 25px;
}

p {
  padding-top: 5px;
  padding-bottom: 5px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.dot {
  cursor: pointer;
}

#scrollContainer {
  position: relative;
  overflow: auto;
  width: 100%;
}

#sections {
  padding-top: 225px;
}

#sections > div{
  opacity: .2;
  padding-bottom: 10px;
} 

#sections div.graph-scroll-active {
  opacity: 1;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#graph {
  background: white;
  z-index: 9;

  /* This is so the text below doesn't jump when it switches over to fixed */
  position: absolute;
  top: 0px;
}

#graph.graph-scroll-fixed {
  position: fixed;
  top: 0px;
}

#graph.graph-scroll-below {
  position: absolute;
  bottom: 0px;
}

</style>

<div id="scrollContainer">
  <div id="graph">
    <svg id="chart"></svg>
  </div>
  <div id="sections">
    <div>
      <h2>Day 1</h2>
      <p>We slept outside of the valley at a friends apartment in El Portal. We woke at 430am and almost burnt the
      place down trying to make coffee (turns out the kettle was supposed to be plugged in not put on the stove, oops).
      Despite the rough start we parked the car in the backpackers lot and made it up the steep 2k elevation gain to
      Little Yosemite Valley pretty quickly. We left before the sun came up in hopes of avoiding the ranger because our
      permit was dodgy but it had the nice side effect of making the hard climb more bearable. Vernal and Nevada falls
      were amazing.</p>
    </div>
    <div>
      <a href="https://flic.kr/p/KEBDD6">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/yosemite_valley.jpg"/>
      </a>
    </div>
    <div>
      <p>We were so exhausted from waking up early, adjusting to the elevation, talking our way past the ranger and the
      hard morning climb that we ended up taking a lunch time nap in a burnt out part of the forest. This was second
      nature for John, my hiking partner, who was a Hot Shot fire fighter, I think he actually mentioned he felt more
      comfortable sleeping in the ash. Anyway this had the consequence of making it look like we had been on the trail
      for a month by the time we got to Tolumne the next day.</p>
    </div>
    <div>
      <p>The bill of John's hat had "STOKED" written on it really big which encouraged a lot of people to stop and talk
      to us which was great because we found out that our intended destination Sunrise Meadows was full of mosquitoes.
      So we decided to stay on a bluff near a stream before the final part of the climb into the meadow. We heard
      Clouds Rest is a great place to stop especially if you are doing a trip from Tolumne to the Valley but it
      was too far out of our way on this trip. The weather was perfect all day. </p>
      <!-- <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/first_nights_campsite.jpg"/> -->
    </div>
    <div>
      <h2>Day 2</h2>
      <p>Sunrise Meadow was beautiful but we had to almost run through it because the mosquitoes were as bad as
      promised. I felt bad for the people staying at the High Sierra camp.</p>
      <a href="https://flic.kr/p/KJBsNE">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/sunrise_meadow.jpg"/>
      </a>
    </div>
    <div>
      <p>We ate lunch overlooking a giant granite valley. Where we made some new friends; Martin and Adele from the
      Czech Republic. Martin is the CTO of Social Bakers a social analytics company where Adele also works. We were
      honored to be the first people to find out of their new engagement which happened just days before. They had just
      finished doing the JMT from Whitney to Tolumne and were now going from Yosemite Valley to Lake Tahoe.</p>
      <a href="https://flic.kr/p/JR8krV">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/granite_valley.jpg"/>
      </a>
    </div>
    <div>
      <p>Cathedral Lake looked beautiful, there were a lot of people doing day hikes out there from Tolumne Meadows.</p>
      <a href="https://flic.kr/p/JR4SHR">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/cathedral_lake.jpg"/>
      </a>
      <p>After enough people called John "Stoked", it was clear that should be his trail name.</p>
      <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/stoked.jpg"/>
    </div>
    <div>
      <p>We made it to Tolumne Meadows despite being confused by the signs which made us think it was at first closer,
      than later farther then we thought. The store ended up being about 1.5 miles from the parking lot with the sign
      that says 3.5 miles to the High Sierra camp. The grill closed at 5pm but the store, which sells beer and other
      essentials, was open until 8pm . A "Trail Angel" was making a free spaghetti dinner for PCT (Pacific Crest Trail
      - which the John Muir Trail is a part of) hikers, which we could easily pass for having slept in that burnt out
      forest, but we opted for cooking sausages from the store over the fire instead. We ended up camping with our
      newly engaged Czech friends Martin and Adele and a guy we called Uncle Mike and his son who were doing a fishing
      trip out to Thousand Island Lake. Uncle Mike only drank non-alcoholic beer which worked out perfectly because
      Martin and Adele bought some St Pauli Girl from the store expecting a nice German import.</p>
      <br>
    </div>
    <div>
      <h2>Day 3</h2>
      <br>
      <br>
      <br>
    </div>
    <div>
      <p>I jumped in the Lyle River on our way to Donahue Pass.</p>
      <a href="https://flic.kr/p/JRPj1P">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif"
             data-src="https://s3-us-west-1.amazonaws.com/jmt2016/lyle_headwaters.jpg">
      </a>
    </div>
    <div>
      <p>We camped near the top of the Donahue Pass just above an alpine lake that drained into a waterfall. Our site,
      sat on the edge of the ridge, with a perfect view of Lyle Canyon below. Sunset was amazing and there were tons of
      stars out at night.  I think this was the best campsite I've ever had.</p>
      <a href="https://flic.kr/p/KCUEQ3">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/donahue_pass.jpg">
      </a>
      <p>This is also where we met Larz and Steph a couple from Prescott, Arizona who we ended up hiking with most of
      the rest of the trail with.</p>
      <a href="https://flic.kr/p/JRD65Q"></a>
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif"
             data-src="https://s3-us-west-1.amazonaws.com/jmt2016/lyle_canyon_sunset.jpg">
      </a>
    </div>
    <div>
      <h2>Day 4</h2>
      <br>
      <br>
      <br>
    </div>
    <div>
      <p>We started seeing a lot of people with dogs on this part of the trail. I guess dogs are allowed from Reds
      Meadow up to Thousand Island Lake since it's outside of the National Park.</p>
    </div>
    <div>
      <a href="https://flic.kr/p/JRDFRo">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif"
             data-src="https://s3-us-west-1.amazonaws.com/jmt2016/garnet_lake.jpg">
      </a>
    </div>
    <div>
      <p>We found a perfect campsite on the north shore of Garnette lake under a leaning tree between the lake and the
      trail. We ate lunch and considered fishing, but ended up taking a nap instead.</p>
      <a href="https://flic.kr/p/KKpKEU">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/thousand_island.jpg">
      </a>
    </div>
    <div>
      <br>
      <p class="dots">...</p>
      <br>
    </div>
    <div>
      <p>We hiked with our new friends Larz and Steph down to Shadow Lake where they stopped. There were too many
      mosquitos there for us so we decided to try Rosalie Lake which was up on top of some switch backs.</p>
    </div>
    <div>
      <p>Caught and ate our first trout at Rosalie Lake at a fishing spot John used to fish at with his Dad when he was
      a kid. We heard a bear harass every other campsite around the lake except for ours that night. Perhaps because
      ours was more in the open and harder for the bear to sneak into than the others or maybe they were scared of our
      pile of rocks and booby traps.</p>
    </div>
    <div>
      <h2>Day 5</h2>
      <p>I had my first blister pop on the hike down to Reds Meadow which made it a pretty painful trek, luckily I
      still had a little whiskey left.</p>
    </div>
    <div>
      <p>Devils Postpile was cool. Apparently the strange curving square rods formed from a giant lake of lava that
      filled Reds Meadow after a volcanic erruption. Reds Meadow now has a store full of beer that's open until
      7pm.</p>
    </div>
    <div>
      <h2>Day 6</h2>
      <p>We decided to take a "zero day" (trail slang for taking the day off) so that we could get some new supplies in
      Mammoth. The tram ride to Mammoth from Reds Meadows cost $7 and takes about 45 minutes and requires 3 different
      buses to get anywhere useful. In town we lucked into watching Portugal beat France in the Euro Cup Championship
      match. I also got a new pack, the <a
        href="https://www.amazon.com/gp/product/B014EBQUHC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B014EBQUHC&linkCode=as2&tag=jeffkile-20&linkId=8158cbe6009137b0a27d3af77ded21dc">
      Osprey Volt 60L</a>, to replace the old external frame I had been using that was requiring more and more
      repairs each day. It was sad to have to let my old pack go because it was given to me by one of my old friend's
      father  who has since passed away. But, I was happy that it's last run was on the John Muir Trail. I was also
      happy that the trail name: "Broke-pack Mountain", that John had come up for me, was no longer
      applicable.</p>
      <a href="https://www.amazon.com/gp/product/B014EBQUHC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B014EBQUHC&linkCode=as2&tag=jeffkile-20&linkId=8158cbe6009137b0a27d3af77ded21dc">
        <img class="height-400" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/osprey.jpg" src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif">
      </a>
      <p>That night we had a big fire at the backpacking camp where we met some cool people including a 23 year old
      girl doing the PCT by herself named <a href="https://www.facebook.com/MaraPCT/">Little Beast</a> who inspired us
      all. We also encountered our first "Trail Troll", a term John came up with to describe guys who hang around camp
      all day attempting to extract a toll from everyone coming through. This particular troll claimed to have been
      hiking the PCT and AT for the last 3 years living off whatever he could find in the hiker boxes and kept asking
      us if we wanted to buy any weed.</p>
    </div>
    <div>
      <h2>Day 7</h2>
      <p>The trail out of Reds Meadows didn't have the best views but was a great hiking trail. It was uphill, which I
      greatly prefer to downhill because its easier on the joints and you get a good workout; dirt, which is so much
      easier on the feet than granite; and had ample shade. </p>
    </div>
    <div>
      <p>There is every color wildflower imaginable along the trail!</p>
    </div>
    <div>
      <p>We took a break at Purple Lake with Larz and Steph and our new friends Jeff and Dan. Jeff went to high school
      with John. We randomly ran into him camping next to us at Reds Meadows. Jeff's trail name is "Chef" because he
      brought the most delicious dehydrated dinners which he made himself. I think he got the recipes from <a
                                             href="http://www.theyummylife.com/Instant_Meals_On_The_Go">this site</a>.
       The apricot macadamia nut chicken couscous was amazing.</p>
      <p>I went for a swim in the lake and Larz caught a fish.</p>
    </div>
    <div>
      <p>We camped at Virgina lake, which is one of the most picturesque lakes I've ever seen. The way the sunset lit
      up the mountains around the lake was incredible. Once the sun goes down at this elevation though it starts to get
      cold quickly which is part of the reason we started heading to bed at "hiker midnight" aka 9pm.</p>
      <a href="https://flic.kr/p/KFqdfr">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/virginia_lake.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/KNg7wH">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/virginia_lake_sunset.jpg">
      </a>
    </div>
    <div>
      <h2>Day 8</h2>
    </div>
    <div>
      <p>We ate lunch on top of Silver Pass with the whole gang. The views were breathtaking.,</p>
      <a href="https://flic.kr/p/JRVYdi">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/silver_pass1.jpg">
      </a>
    </div>
    <div>
      <a href="https://flic.kr/p/KKusZ9">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/silver_pass2.jpg">
      </a>
    </div>
    <div>
      <p>We took the "ferry", a small 5 person metal fishing boat with a 9 hp outboard motor, to Vermillion Valley
      Resort. Here we picked up the resupply boxes we had sent ourselves, took a shower and got a hard earned brew.
      John lost his removable tooth which he finally found after raking the entire campsite for 5 hours. Like most
      things at VVR, dinner was too expensive. But breakfast was reasonably priced so we chowed down on that before
      leaving the next morning.</p> </div>
    <div>
      <h2>Day 9</h2>
      <p>Instead of dealing with the ferry ride again we decided to take the Bear Ridge Trail out of VVR back to the
      JMT.  This trail was not well maintained and had few switchbacks despite its steepness, which made it a slog to
      get to the top.</p>
    </div>
    <div>
      <p>However, once back on the JMT the switchbacks on the way down to the Bear Creek Junction were some of the most
      beautiful I've been on. They went through groves of Aspen and were lined with tons of wildflowers including
      lilies and Alpine Shooting Star. Larz saw a flock of baby quail following its mother across the trail. We had
      lunch and went swimming on top of a small waterfall after passing the junction. </p>
    </div>
    <div>
      <p>We camped with Steph, Larz, Jeff and Dan a little past the Italy Pass Trail junction along the trail next to a
      creek where we went fishing off of a big rock into some rapids. We caught some small Brook Trout which we
      released. </p>
      <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/fishing.jpg">
    </div>
    <div>
      <h2>Day 10</h2>
      <p>Marie Lake was crystal clear. We took the flower lined trail along side of it as approached Seldon Pass.</p>
      <a href="https://flic.kr/p/KD1UKq">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/marie_lake.jpg">
      </a>
    </div>
    <div>
      <a href="https://flic.kr/p/JRWrRK">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/seldon_pass.jpg">
      </a>
    </div>
    <div>
      <p>On the other side of the pass, a lake that looked like an infinity pool had a stream running down from it. The
      stream was crystal clear and brimming with trout that were making a journey upstream.</p>
      <a href="https://flic.kr/p/KFtGTx">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/seldon_lake.jpg">
      </a>
    </div>
    <div>
      <p>Stopped at Muir Trail Ranch for the night and I contemplated leaving with Jeffs friend Dan because my feet and
      knees were so sore and tired I was concerned I would be saddled with an injury out on the trail. I slept on the
      idea and the next morning decided to see it through. Plus we had heard this trail term; HYOH, which stands for
      "Hike Your Own Hike", I decided this was good advice and told John I needed to take more breaks and go at a
      slower pace than him, the remainder of the trip had us mostly hiking separately while meeting up for lunch breaks
      and camping along the trail. Muir Trail Ranch had by far the best hiker buckets but the staff was rude to
      backpackers. It might be a nice place to stay if you had a small group to split the $250 price tag and booked
      ahead of time, however so you could get a bucket of beers some real food and a shower. It's 4 miles from Florence
      lake which would make it a nice place to stay for a short trip. However for free we camped along the river near
      the hot springs with Jeff and Dan and had a fire. </p>
    </div>
    <div>
      <h2>Day 11</h2>
    </div>
    <div>
      <p>We had to take our shoes off to cross the river before entering Evolution Valley. The water was nice and warm
      after meandering its way through the valley all day.</p>
      <p>We would later meet a women who was hiking with a shoe on her left foot and a sandal taped onto her right. It
      turned out she lost her shoe on this crossing by attempting to throw it over the river to her husband, a big
      mistake. We saw her on our last day at Whitney Portal and told her she  was one of our heroes for completing the
      trail.</p>
      <p>At this crossing, we also heard about a group of 4 women we had passed earlier. We were told they all
      had terminal cancer and were doing the trail together. After hearing this inspirational story I decided I had no
      excuse to not finish the trail and was determined to do so despite any pain in my feet. </p>
    </div>
    <div>
      <a href="https://flic.kr/p/JRKJn3">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/mclure_meadow.jpg">
      </a>
    </div>
    <div>
      <p>Evolution Valley looks directly west making for an incredible sunset that lights up the sky and surrounding
      granite mountains.</p>
      <a href="https://flic.kr/p/KNkmkM">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/colby_meadow_sunset.jpg">
      </a>
      <p>We camped on a small bluff overlooking Colby Meadow and had a fire.</p>
      <a href="https://flic.kr/p/JRXC1v">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/colby_meadow.jpg">
      </a>
    </div>
    <div>
      <h2>Day 12</h2>
      <p>We did the climb up to Evolution Basin early in the morning. The lakes in the basin were full of perfectly
      clear water that reflected the granite mountains that surrounded them.</p>
      <a href="https://flic.kr/p/Knd57J">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/evolution_basin.jpg">
      </a>
    </div>
    <div>
      <br>
      <p class="dots">...</p>
      <br>
    </div>
    <div>
      <p>Muir Pass looked like another planet. There's a stone hut at the top that was built by the Sierra Club in
      1930.</p>
      <a href="https://flic.kr/p/JRXYra">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/muir_pass.jpg">
      </a>
    </div>
    <div>
      <p>On the way down there was enough snow for some sledding on our butts and a snowball fight. There were hundreds
      of giant tadpoles in the alpine lakes we passed on our way to camp. This is a good sign because we had been
      hearing the alpine toads are endangered due to overstocking of trout which eat the tadpoles. </p>
    </div>
    <div>
      <p>We camped a little passed Helen Lake at a campsite on the Middle Fork of the Kings River next to a waterfall.
      </p>
    </div>
    <div>
      <h2>Day 13</h2>
      <p>The morning views from camp of the valley below were spectacular.</p>
      <a href="https://flic.kr/p/KKxizw">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/morning_valley.jpg">
      </a>
    </div>
    <div>
      <p>We stopped at the ranger station, to get some extra Cliff bars and dehydrated food, from some friendly
      Canadians we had met who were leaving out of Bishop pass and were happy to lighten their load. There was a group
      of people extremely fascinated by the unoccupied wooden ranger station, it seemed as though it was the
      destination of their backpacking trip. </p>
    </div>
    <div>
      <p>The valley leading up to the Golden Staircase is full awesome cascading waterfalls, which were second in
      grandeur only to those found in Yosemite Valley itself.</p>
        <img class="smaller-img" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/waterfall.jpg" src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif">
      <p>I soaked my feet in the creek during lunch. There's nothing more rejuvenating than sticking sore feet in a creek
      full of fresh snow melt.</p>
      <a href="https://flic.kr/p/KKxysC">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/valley.jpg">
      </a>
    </div>
    <div>
      <p>The Golden Staircase had a lot of false peeks that kept tricking us into thinking we were almost at the top.
      If I were to rename this climb I would call it "Fake-out Staircase", others had much less nice names for it.</p>
    </div>
    <div>
      <p>We were "Tits Up", as John would say, once we finally reached the top so we grabbed the first campsite we
      found next to Placer Lake, which luckily happened to be one of the nicest ones. The moon came out early and was
      almost full.</p>
      <a href="https://flic.kr/p/KNmQiZ">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/placer_lake_sunset.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/KFvNui">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/placer_lake_camp.jpg">
      </a>
    </div>
    <div>
      <h2>Day 14</h2>
      <p>I got up early, packed up and made my way to Mather Pass before anyone else was up. The basin on the way to
      the pass was especially beautiful as the mountains reflected perfectly off the still wildflower lined lakes at
      this early hour.</p>
      <a href="https://flic.kr/p/KNn8TP">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/placer_lake_morning.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/JRN8Vb">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/placer_lake_path.jpg">
      </a>
    </div>
    <div>
      <a href="https://flic.kr/p/JRNnTm">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/mather_pass.jpg">
      </a>
      <p>The other side of the pass was a very high desert that dropped down into a lush valley. There was a creek at
      the bottom of the valley where we all met up. While at the creek we met two travelers named Ross and Emma who we
      ended up hiking with for the remainder of the trip.</p>
      <a href="https://flic.kr/p/KNnKqv">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/mather_pass_south.jpg">
      </a>
    </div>
    <div>
      <p>We camped next to Lake Marjorie which is the bluest lake I've ever seen. We had a drum circle there, where we
      came up with trail names for our new friends: Ross-Ta-Far-Hike and Purple Haze (everything she owned was some
      shade of purple). Behind the lake is a huge, red, iron mountain. That night before bed, we heard a rock slide
      that lasted for what seemed like minutes and echoed off the mountains all around us.</p>
      <a href="https://flic.kr/p/KNnMmz">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/lake_marjorie.jpg">
      </a>
    </div>
    <div>
      <h2>Day 15</h2>
      <p>Woke up early and did Pinchot Pass.</p>
    </div>
    <div>
      <br>
      <p class="dots">...</p>
      <br>
    </div>
    <div>
      <br>
      <p class="dots">...</p>
      <br>
    </div>
    <div>
      <p>Stayed at Rae Lakes caught tons of fish the lake is full of trout. We ate a bunch of them for dinner. I went
      swimming in the lake twice. It was surprisingly warm for fresh snow melt. The mountains here have colorful red,
      white and grey veins of minerals running through them which give them an artsy striped pattern.</p>
      <a href="https://flic.kr/p/JS1kTK">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/rae_lakes2.jpg">
      </a>
      <p> That night I jotted down "Full moon tonight. It's the brightest I've ever seen it. It hurts my 
      eyes to look at it because it's so bright." </p>
      <a href="https://flic.kr/p/KKyZvb">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/rae_lakes1.jpg">
      </a>
    </div>
    <div>
      <h2>Day 16</h2>
      <a href="https://flic.kr/p/JRNRUb">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/rae_lakes3.jpg">
      </a>
      <p>The views of Rae Lakes as we went up Glen Pass were amazing. These lakes were one of my favorite places on
      this trip and someplace I definitely hope to return to.</p>
      <a href="https://flic.kr/p/KNoBBx">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/rae_lakes_above.jpg">
      </a>
    </div>
    <div>
      <a href="https://flic.kr/p/JS1Rvv">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/blue_lake.jpg">
      </a>
    </div>
    <div>
      <br>
      <p clas="dots">...</p>
      <br>
    </div>
    <div>
      <p>We camped up at 11,300 feet in a granite bowl before the pass. There was an epic waterfall that spilled out of
      the sheer granite wall, into a stream, lined with some of the only greenery around. We could hear this waterfall
      roaring through the basin from our campsite miles away which made me feel like we were camping in Mordor in the
      presence of Mt Doom.</p>
      <a href="https://flic.kr/p/KngXR9">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/forester_camp.jpg">
      </a>
    </div>
    <div>
      <h2>Day 17</h2>
      <p>Forester pass is the second highest climb on the trail, second only to Whitney. It certainly feels like a
      strange world at that elevation. The pass itself wasn't as hard as it was built up to be, we had been hearing
      people say it was the hardest pass of the trip.</p>
      <a href="https://flic.kr/p/KD7hfE">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/forester_pass.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/KngUUs">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/forester_pass_south.jpg">
      </a>
    </div>
    <div>
      <p>I listened to the audio book version of "Do Androids Dream of Electric Sheep" by Philip K. Dick, on the way
      down through what felt like an alien world at times. Lots of granite high desert and sparse trees at first until
      we dove into a forest of Sequoia trees.</p>
      <a href="https://flic.kr/p/KNpSDK">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/cloud.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/KSEKwV">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif"
             data-src="https://s3-us-west-1.amazonaws.com/jmt2016/forest.jpg">
      </a>
    </div>
    <div>
      <p>There was a beautiful mesa on the way to Crabtree Meadows with 360 degree views and lots of marmots just
      asking to be photographed.</p>
      <a href="https://flic.kr/p/KNpTB6">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/marmot.jpg">
      </a>
      <br>
      <a href="https://flic.kr/p/KNpWSp">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/fallen_tree.jpg">
      </a>
    </div>
    <div>
      <p>We did 16.6 miles total to get to Crabtree Meadows Ranger station which included the climb over Forester Pass.
      Boy was I tired, and my feet were hurting too. This was the first I really noticed some redness and swelling
      spreading through the top of my foot. This redness later turned out to be a bad Staph infection. I concluded it
      must have started from one of the many blisters I had had up to this point in the trip.</p>
    </div>
    <div>
      <h2>Day 18</h2>
      <p>We had heard many people wanting to get up to Mt Whitney for sunrise but we decided to buck the trend and do
      sunset instead. This meant we could get a late start and do a late lunch at Guitar Lake while we waited for the
      heat of the day to die down.</p>
      <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/guitar_lake.jpg">
    </div>
    <div>
      <p>By this point in the trip my muscles had had so much conditioning that the climb up to Mt Whitney was
      physically a peace of cake. However the infection in my foot made a wrongly placed step extremely painful.</p>
      <a href="https://flic.kr/p/KNqBxF">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/whitney_trail.jpg">
      </a>
    </div>
    <div>
      <p>Our decision to watch sunset turned out to be a good one. We had the whole summit to ourselves to watch the
      most spectacular 360 degree sunset I have ever seen! We left most of our gear at the cutoff for the climb up.
      However, we brought the Jet Boil so we were able to make tea at the top. This was a welcome luxury once it
      started getting cold from the sun setting. While we were up there John announced our crew had finally decided on
      a new trail name for me since retiring "Broke-pack Mountain". I was honored the crew decided I earned the name
      "Iron Heart" for persevering through a difficult journey.</p>
      <a href="https://flic.kr/p/KKBYsU">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/whitney_sunset.jpg">
      </a>
      <br>
      <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/whitney_group.jpg">
      <br>
      <a href="https://flic.kr/p/KniM5L">
        <img src="https://s3-us-west-1.amazonaws.com/jmt2016/spin.gif" data-src="https://s3-us-west-1.amazonaws.com/jmt2016/whitney_me.jpg">
      </a>
      <p>We left before it was completely dark but still much of our hike down required using headlamps. This wasn't
      too bad and we actually passed a number of people on their way up for sunrise the next day. As an aside, someone
      we talked to later said sunrise was so crowded that people were stepping on his sleeping bag while he was trying
      to sleep because space was so limited at the summit. We camped just on the other side of the pass as we came down
      switchbacks that were covered in water.</p>
    </div>
    <div>
      <h2>Day 19</h2>
      <p>We didn't get much sleep because we had to sleep so close to the trail and there was a steady stream of people
      passing us to go up the mountain.</p>
    </div>
    <div>
      <p>Coming down was pretty slow and painful because my foot was totally red and swollen at this point.</p>
       <!-- (something about what kept you going) -->
    </div>
    <div>
      <p>The last few miles were hot and had very little water, this was probably the driest section of the whole
      trip.</p>
    </div>
    <div>
      <p>We past many day hikers going up to Whitney or Lone Pine Lake. However coming up from Whitney Portal to one of
      those destinations in the heat of the day seemed extremely difficult as there was little relief from the constant
      elevation gain. </p>
    </div>
    <div>
      <p>At Whitney Portal Steph got a pancake that was the size of a pizza.</p>
      <!-- (something more climatic) -->
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
<div id="container2">
  <div>
    <h2>Final Thoughts</h2>
    <p>Many people say they have a spiritual epiphany while hiking the JMT and I can see why. Here's mine; As much as I
    believe in technology and the ability of man to create great things, given all of mankind, for all of human
    existence, we could never create something as beautiful and perfectly balanced as the Sierra Nevada. For this reason
    hiking the JMT is like being in the presence of a perfection created by something greater than we could ever
    imagine. Some may call this God, others the laws of nature, whatever we call it it exists in the Sierra
    Nevada.</p>
    <!-- <p>This was one of the hardest, most painful, most fun and most rewarding things I have ever done.</p> -->
    <p>Thanks to John, all the great friends who we met along the trail, and thanks to my family who helped me heal
    when I got home.</p>
  </div>
  <!-- <div> -->
  <!--   <h2>Thanks</h2> -->
  <!--   <p>Thanks to everyone we met out on the trail I hope some of you will become life long friends as we adventure -->
  <!--   together more in the future. Thanks for everyone that helped take care of me and put up with my injuries on the -->
  <!--   trail and after, especially my parents. </p> -->
  <!-- </div> -->
  <!-- <div> -->
  <!--   <h2>Addendum</h2> -->
  <!--   <p>I've had a number of people ask me two questions since finishing this. 1. Do I still have my foot? and 2. What -->
  <!--   would I have done differently. Let me address those here.</p> -->
  <!--   <p>First yes my foot made a full recovery but only after a 4 day stay in the hospital and about two weeks of IV -->
  <!--   antibiotics. It turned out I did have a very serious Staph infection that I only made worse by walking on it. I -->
  <!--   should have brought extra band aids and wound cleaning supplies as well as possibly antibiotics. But once I had it -->
  <!--   there was really only one way out that I knew of except for in a helicopter which I may have had to do if I was -->
  <!--   another day away from the exit with how bad my foot got. </p> -->
  <!--   <p>So what would I have done differently? Well a lot of things, truth be told there was embaressingly little -->
  <!--   planning that went into this trip. Looking back on it I would have taken more rest days and taken advantage of the -->
  <!--   resupply points in Tolumne, Reds Meadows, VVR and MTR so that I could have carried less weight especially in the -->
  <!--   beginning. I probably would have done less miles too so that I had more time to spend at each of the campsites. -->
  <!--   Most importantly aside from the first aid stuff I would have gotten new shoes and insoles and broken them in ahead -->
  <!--   of time with some training backpack trips.</p> -->
  <!-- </div> -->
</div>


<script src="/assets/js/jquery-1.11.0.min.js"></script>
<script src="/assets/js/jquery.unveil.js"></script>
<script src="/assets/js/graph-scroll.js"></script>
<script>
// Once all the images have loaded
//$(document).ready(function() {
//  console.log("done loading");

  // Name of location, miles from start, elevation
  var data = [
    {
      name: 'Happy Isles',
      miles: 0,
      elevation: 4000
    },
    {
      name: 'Little Yosemite Valley',
      miles: 4,
      elevation: 6000
    },
    {
      name: 'Half Dome Trail',
      miles: 5,
      elevation: 7000
    },
    {
      name: 'First Nights Campsite',
      miles: 12,
      elevation: 8700
    },
    {
      name: 'Sunrise Camp',
      miles: 14,
      elevation: 9200
    },
    {
      name: 'Cathedral Pass',
      miles: 15.5,
      elevation: 9700
    },
    {
      name: 'Cathedral Lake',
      miles: 17.5,
      elevation: 9500
    },
    {
      name: 'Tuolumne Meadows',
      miles: 22.5,
      elevation: 8750
    },
    {
      name: 'Volgesang Pass Trail',
      miles: 30,
      elevation: 8900
    },
    {
      name: 'Lyell Fork Bridge',
      miles: 34,
      elevation: 9800
    },
    {
      name: 'Donohue Pass',
      miles: 37,
      elevation: 11500
    },
    {
      name: 'Rush Creek Trail',
      miles: 40,
      elevation: 9800
    },
    {
      name: 'Island Pass',
      miles: 42,
      elevation: 10200
    },
    {
      name: 'Thousand Island Lake',
      miles: 43,
      elevation: 9900
    },
    {
      name: 'Garnet Lake',
      miles: 45,
      elevation: 9800
    },
    {
      name: 'Ediza Lake Trail',
      miles: 47,
      elevation: 10000
    },
    {
      name: 'Shadow Creek Bridge',
      miles: 49,
      elevation: 8800
    },
    {
      name: 'Rosalie Lake',
      miles: 50,
      elevation: 9200
    },
    {
      name: 'Gladys Lake',
      miles: 51,
      elevation: 9400
    },
    {
      name: 'Devils Postpile',
      miles: 56,
      elevation: 7500
    },
    {
      name: 'Reds Meadow',
      miles: 57,
      elevation: 7600
    },
    {
      name: 'Deer Creek',
      miles: 62.5,
      elevation: 9200
    },
    {
      name: 'Duck Creek',
      miles: 67,
      elevation: 10000
    },
    {
      name: 'Purple Lake',
      miles: 71,
      elevation: 9900
    },
    {
      name: 'Lake Virginia',
      miles: 72,
      elevation: 10200
    },
    {
      name: 'Cascade Valley Trail',
      miles: 76,
      elevation: 9100
    },
    {
      name: 'Silver Pass',
      miles: 80,
      elevation: 10900
    },
    {
      name: 'Mono Pass Trail',
      miles: 85,
      elevation: 8300
    },
    {
      name: 'Mono Creek Bridge',
      miles: 87,
      elevation: 7700
    },
    {
      name: 'Bear Ridge',
      miles: 91,
      elevation: 9800
    },
    {
      name: 'Bear Creek Trail',
      miles: 93,
      elevation: 8800
    },
    {
      name: 'Italy Pass Trail',
      miles: 95.5,
      elevation: 9250
    },
    {
      name: 'Marie Lake',
      miles: 98,
      elevation: 10500
    },
    {
      name: 'Seldon Pass',
      miles: 100.5,
      elevation: 10870
    },
    {
      name: 'Heart Lake',
      miles: 102,
      elevation: 10550
    },
    {
      name: 'Muir Trail Ranch',
      miles: 108,
      elevation: 7800
    },
    {
      name: 'South Fork San Joaquin Bridge',
      miles: 111,
      elevation: 8400
    },
    {
      name: 'Evolution Valley',
      miles: 115,
      elevation: 9200
    },
    {
      name: 'McClue Meadow',
      miles: 116,
      elevation: 9700
    },
    {
      name: 'Colby Meadow',
      miles: 118,
      elevation: 9800
    },
    {
      name: 'Evolution Lake',
      miles: 121,
      elevation: 10800
    },
    {
      name: 'Evolution Creek',
      miles: 125,
      elevation: 10300
    },
    {
      name: 'Muir Pass',
      miles: 128,
      elevation: 11955
    },
    {
      name: 'Helen Lake',
      miles: 129,
      elevation: 11595
    },
    {
      name: 'Middle Fork Kings River Campsite',
      miles: 131,
      elevation: 10400
    },
    {
      name: 'Bishop Pass Trail',
      miles: 135,
      elevation: 8800
    },
    {
      name: 'Palisade Creek',
      miles: 139.2,
      elevation: 8000
    },
    {
      name: 'Deer Meadow',
      miles: 142.7,
      elevation: 8800
    },
    {
      name: 'Golden Staircase',
      miles: 144,
      elevation: 10500
    },
    {
      name: 'Placer Lake',
      miles: 145.7,
      elevation: 10650,
    },
    {
      name: 'Mather Pass',
      miles: 150,
      elevation: 12080
    },
    {
      name: 'Taboose Pass Trail',
      miles: 155.1,
      elevation: 10000
    },
    {
      name: 'Lake Marjoie',
      miles: 157.7,
      elevation: 11200
    },
    {
      name: 'Pinchot Pass',
      miles: 159.2,
      elevation: 12100
    },
    {
      name: 'Twin Lakes',
      miles: 162.3,
      elevation: 10560
    },
    {
      name: 'South Fork Trail',
      miles: 166.8,
      elevation: 8500
    },
    {
      name: 'Rae Lakes',
      miles: 172.3,
      elevation: 10500
    },
    {
      name: 'Glen Pass',
      miles: 175.6,
      elevation: 11980
    },
    {
      name: 'Kearsage Pass Trail',
      miles: 177.9,
      elevation: 10800
    },
    {
      name: 'Bubbs Creek Trail',
      miles: 180.1,
      elevation: 9600
    },
    {
      name: 'Forester Pass Camp',
      miles: 185.5,
      elevation: 11300
    },
    {
      name: 'Forester Pass',
      miles: 187.1,
      elevation: 13200
    },
    {
      name: 'Shepherd Pass Trail',
      miles: 192.1,
      elevation: 10930
    },
    {
      name: 'Wallace Creek',
      miles: 199.1,
      elevation: 10400
    },
    {
      name: 'Crabtree Meadows Ranger Station',
      miles: 203.6,
      elevation: 10700
    },
    {
      name: 'Guitar Lake',
      miles: 205.7,
      elevation: 11600
    },
    {
      name: 'Mt Whitney Trail',
      miles: 209.6,
      elevation: 13500
    },
    {
      name: 'Mt Whitney',
      miles: 211.9,
      elevation: 14495
    },
    {
      name: 'Trail Crest',
      miles: 214.2,
      elevation: 13600
    },
    {
      name: 'Trail Camp',
      miles: 216.4,
      elevation: 12040
    },
    {
      name: 'Outpost Camp',
      miles: 219,
      elevation: 10600
    },
    {
      name: 'Lone Pine Lake',
      miles: 220,
      elevation: 9960
    },
    {
      name: 'Whitney Portal',
      miles: 222.4,
      elevation: 8360
    },
  ];

  var width =  document.getElementById("scrollContainer").offsetWidth;
  var height = 220;

  // Attach the mouses position to the window for 

  var miles = _.map(data, 'miles');
  var elevation = _.map(data, 'elevation');

  var x = d3.scale.linear()
    .range([7, width-7])
    .domain([0, d3.max(miles)]);
  var y = d3.scale.linear()
    .range([height-7, 7]) // height to 0 because we subtract from the upper right corner for svgs
    .domain([d3.min(elevation), d3.max(elevation)]);

  // Define the line
  var valueline = d3.svg.line()
      .x(function(d) { return x(d.miles); })
      .y(function(d) { return y(d.elevation); });

  // Define the tooltip 
  var tooltip = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

  var svg = d3.select("#chart")
      .attr("width", width)
      .attr("height", height)
      .append("g");

    svg.append("path")
      .attr("class", "line")
      .attr("d", valueline(data));

  // Add the scatterplot
  var updateDots = function(data) {

    var selection = svg.selectAll(".dot").data(data);

    // Updates existing circles when data changes
    selection
      .transition()
      .duration(750)
      .attr("fill", function(d) {
        return d.active ? "red" : "black";
      })
      .attr("r", function(d) {
        return d.active ? 7 : 3;
      })
      .attr("opacity", function(d) {
        return d.active ? 1 : .5;
      });

    selection.enter().append("circle")
      .attr("class", "dot")
      .attr("r", 3)
      .attr("cx", function(d) { return x(d.miles); })
      .attr("cy", function(d) { return y(d.elevation); })
      .on("mouseover", function(d) {
        tooltip.transition()
          .duration(200)
          .style("opacity", .9);
        tooltip.html(d.name + "<br/>" +
            d3.format(",.2r")(d.miles) + " miles" + "<br/>" +
            d3.format(",.2r")(d.elevation) + " feet")
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY + "px")
      })
      .on("mouseout", function(d) {
        tooltip.transition()
          .duration(500)
          .style("opacity", 0);
      })
      .on("click", function(d, i) {

/*        $('html,body').animate({
          scrollTop: $("#sections > div:nth-child("+i+")").offset().top + $
        });*/

        $("#sections > div:nth-child("+i+")").get(0).scrollIntoView(true);
      });;

    selection.exit().remove();


    return selection;
  }

  var dots = updateDots(data);

  // Setup active events
  var dispatch = d3.dispatch("activeSection");

  dispatch.on('activeSection', function(index) {
    data = _.map(data, function(d) { 
      d.active = false;
      return d;
    });

    // If we already know this is the active section then don't do anything
    if (data[index].active !== true) {
      data[index].active = true;
      updateDots(data);
    }
  });

jQuery.noConflict();
(function( $ ) {
  $(function() {
    // Setup scrolling
    var gs = graphScroll()
        .graph(d3.selectAll('#graph'))
        .container(d3.select('#scrollContainer'))
      .sections(d3.selectAll('#sections > div'))
      .on('active', function(i) {
        dispatch.activeSection(i);
        console.log(i + 'th section active');
      });

    // Start lazy loading images 100px before we get there and resize graphScroll whenever a new one is shown
    $("img").unveil(50, function() {
      $(this).load(function() {
      console.log("added image: ", this);
      console.log("resizing");
        gs.resize();
        gs.reposition();
      });
    });

  });
})(jQuery);

jQuery.noConflict();
(function( $ ) {
  $(document).bind('keyup', function(e){
    console.log(e);
    if(e.which==54) {
      $('img').css("max-width", "60%");
    }
    if(e.which==55) {
      $('img').css("max-width", "70%");
    }
    if(e.which==56) {
      $('img').css("max-width", "80%");
    }
    if(e.which==57) {
      $('img').css("max-width", "90%");
    }
    if(e.which==48) {
      $('img').css("max-width", "100%");
    }
  });
})(jQuery);

</script>

