{% include header.html %}

<body>
  <br>

<div class="container">
  <div class="row my_name">
    <h1>Jeff Kile</h1>
  
    <div role="navigation">
      <div class="{{ layout.navLocation }}_nav fancy">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/portfolio">Code</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/links">Links</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div> <!-- /fancy-->
    </div> <!-- /xs sm -->
  </div>

