{% include header.html%}

<body>
  <br>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
  
  <div class="col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="{{ page.navLocation }}_nav fancy">
      <ul class="nav">
        <li class="active"><a href="/">Home <i class="icon-home"></i></a></li>
        <li><a href="/resume">Resume <i class="icon-file-text"></i></a></li>
        <li><a href="/portfolio">Code <i class="icon-code"></i></a></li>
        <li><a href="/music">Music <i class="icon-music"></i></a></li>
        <li><a href="/links">Links <i class="icon-sitemap"></i></a></li>
        <li><a href="/blog">Blog <i class="icon-edit"></i></a></li>
      </ul>
    </div> <!-- /fancy-->
  </div> <!-- /xs sm -->

<div class="col-xs-12 col-sm-9">
  <p class="pull-left visible-xs">
    <button type="button" class="btn btn-primary btn-xs toggle-button" data-toggle="offcanvas">Toggle nav</button>
  </p>
