.quote {
  color:DimGray;
  float:left;
  padding-right:10px;
}

.portrait {
  width:200px;
  margin:10px;
  float:right;
}


@media screen and (max-width: 768px) {
  .portrait {
    width:150px;
  }
}
