---
layout: topnav
title: Blog
stylesheets: [master, navigation, blog]
navLocation: top
full_posts: 5
---


<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <h3><i class="icon-book"></i>Posts: </h3>
    <br/>

    <ul class="leaders">
    {% for post in site.posts %}
      <li>
        <a href="{{post.url}}">
          <span>{{ post.date | date_to_string }}</span>
          <span>{{post.title}}</span>
        </a>
      </li>
      <!-- <tr> -->
      <!--   <th>Tags: </th> -->
      <!--   <td> -->
      <!--     {% for cat in post.categories %} -->
      <!--       {{ cat }} -->
      <!--     {% endfor %} -->
      <!--   </td> -->
      <!-- </tr> -->
    {% endfor %}
    </leaders>
  </div>
</div>
