---
layout: topnav
title: Portfolio
stylesheets: [master, portfolio, navigation]
navLocation: top
scripts: portfolio.js
---


</div> <!-- container -->


<div class="row brilliant">
  {% include projects/brilliant.html %}
</div>
</br>

<div class="row idd">
  {% include projects/401k.html %}
</div>
</br>

<div class="row fuzzer">
    {%include projects/fuzzer.html %}
</div>
</br>

<div class="row paramount">
  {%include projects/paramount.html %}
</div>
</br>

<div class="row musicAI">
    {%include projects/musicai.html %}
</div>
</br>

<div class="row letseat">
  {%include projects/letseat.html %}
</div>
</br>

<div class="row bouncer">
    {%include projects/bouncer.html %}
</div>
</br>

<div class="row processing">
    {%include projects/processing.html %}
</div>
</br>

<div class="row cplusplusart">
    {%include projects/cppart.html %}
</div>
</br>

</div>

<div class="container">
