{% include nav_left.html %}

<div class="jumbotron">
  <h1>Hello World!</h1>
  <br>
  <img src="https://s3.amazonaws.com/JKPortfolio/img/me.jpg" alt="Portrait" class="img-circle portrait"/>
  <i class="icon-quote-left icon-2x quote"></i><p> I'm Jeff Kile and this is my home page. I'm a Software Engineer, Web Developer &amp; Musician from California.  Here you will find a portfolio of my work and a web log containing some writing.  If you would like to get in touch please write me at <a href="mailto:hello@jeffkile.com" target="_top">hello@jeffkile.com</a>. Thanks for stopping by! </p>
</div> <!-- jumbotron -->

{% include nav_bottom.html %}
